/mods
/saves

*.log.gz
.cache
/vscode
/crash-reports
/modernfix
/downloads

.curseclient

enigmatic_persistence.dat

minecraftinstance.json
options.txt
rhino.local.properties
user-prefs.json
usercache.json
usernamecache.json